include LICENSE.txt
include README.md
include pyproject.toml

include setupbase.py
include pytest.ini
include .coveragerc

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples

# Javascript files
graft ipyscales/nbextension
graft js
prune **/node_modules
prune js/coverage
prune js/lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
